{{#partial "content"}}

    <div class="card bg-dark text-white">
        <img src="" class="card-img" width="400" height="400" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Heading:{{heading}}</h5>
            <p class="card-text"> Content:{{content}}</p>
            <p class="card-text">Department:{{departId}}</p>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}