{{#partial "content"}}

<div class="jumbotron" style=" text-align:center; margin-top:10%">
      <h1 class="display-3">Organisation News Portal</h1>
      <hr class="my-4">
      <p>MAKING YOUR WISH A REALITY</p>

    </div>
{{/partial}}
{{> layout.hbs}}
